<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A178l</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JVCDictionaryPlugIn</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.LSMDictionaryAccessMethod</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JVCDictionaryPlugIn</string>
	<key>CFBundlePackageType</key>
	<string>dam+</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>lam </string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F131D3B2-4928-11D7-BEB4-00039377940C</key>
		<string>MyFactoryFunction</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>CCA4068C-1136-11D4-BDE1-0030653D66C8</key>
		<array>
			<string>F131D3B2-4928-11D7-BEB4-00039377940C</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DCMAccessMethodName</key>
	<array>
		<string>com.apple.DictionaryAccessMethod.LSM</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A273</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
</dict>
</plist>
