<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test checks the structure of the various subtables of a &apos;cmap&apos;.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.cmap.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;cmap&apos; subtable structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_cmapTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test checks for consistency between the various subtables of a &apos;cmap&apos;.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.cmap.consistency</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;cmap&apos; table consistency</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_cmapTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestConsistencyTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;cmap&apos; table has at least one usable subtable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.cmap.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;cmap&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_cmapTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a horizontal metrics (&apos;hmtx&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.hmtx.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;hmtx&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_hmtxTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a glyph data location (&apos;loca&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.loca.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;loca&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_locaTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;name&apos; table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.name.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;name&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_nameTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;post&apos; table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.post.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;post&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_postTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;sfnt&apos;-housed font has all the required tables and that all tables have valid offsets and sizes.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;sfnt&apos;-housed font tables</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestTrueTypeFontData</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the FAT in a &apos;FOND&apos;-based font is usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.FAT.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>FOND FAT usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the offsets in a &apos;FOND&apos;-based font are usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.offsets.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>FOND offset usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the style mapping table a &apos;FOND&apos;-based font is usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.styles.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>FOND style mapping table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the kerning table a &apos;FOND&apos;-based font is usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.kerning.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>FOND kerning table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the bounding boxes in a &apos;FOND&apos;-based font are usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.boundingbox.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>FOND bounding box usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure structure of the PostScript (&apos;post&apos;) table accords with the specification.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.post.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;post&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_postTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure structure of the font header (&apos;head&apos;) table accords with the specification.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.head.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;head&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_headTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure structure of the font horizontal header (&apos;hhea&apos;) table accords with the specification.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.hhea.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;hhea&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_hheaTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure structure of the font&apos;s maximum profile (&apos;maxp&apos;) table accords with the specification.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.maxp.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;maxp&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_maxpTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;name&apos; table is structurally sound.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.name.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;name&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_nameTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a &apos;glyf&apos; table is structurally sound.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.glyf.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;glyf&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_glyfTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the instructions embedded in a &apos;glyf&apos; table are sound.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.glyf.instructions</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;glyf&apos; table instructions</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_glyfTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the instructions embedded in a &apos;fpgm&apos; table are sound.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.fpgm.instructions</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;fpgm&apos; table instructions</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_fpgmTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure the instructions embedded in a &apos;prep&apos; table are sound.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.prep.instructions</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;prep&apos; table instructions</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_prepTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure that embedded bitmap data is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.sbit.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>Embedded bitmap (sbit) structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_bdatTable</string>
			<string>kATSFontTest_blocTable</string>
			<string>kATSFontTest_EBDTTable</string>
			<string>kATSFontTest_EBLCTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a vertical metrics (&apos;vmtx&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.vmtx.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;vmtx&apos; table usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_vmtxTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a horizontal device metrics (&apos;hdmx&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.hdmx.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;hdmx&apos; table structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_hdmxTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test checks the consistency of metrics between the &apos;hdmx&apos; and &apos;hmtx&apos; tables in a font.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.metrics.consistency</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;hdmx&apos; and &apos;hmtx&apos; metrics consistency</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_hdmxTable</string>
			<string>kATSFontTest_hmtxTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestConsistencyTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a glyph properties (&apos;prop&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.prop.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;prop&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_propTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a font features (&apos;feat&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.feat.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;feat&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_featTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a justification (&apos;just&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.just.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;just&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_justTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a kerning (&apos;kern&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.kern.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;kern&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_kernTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a glyph metamorphosis (&apos;mort&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.mort.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;mort&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_mortTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure an extended glyph metamorphosis (&apos;morx&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.morx.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;morx&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_morxTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure an OS/2 compatibility (&apos;OS/2&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.OS_2.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;OS/2&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_OS_2Table</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test ensures the &apos;Zapf&apos; and &apos;cmap&apos; tables have consistent mappings.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.Zapf.consistency</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;Zapf&apos; table consistency with &apos;cmap&apos; table</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_ZapfTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure a glyph reference (&apos;Zapf&apos;) table is valid.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.Zapf.structure</string>
		<key>kATSFontTestNameKey</key>
		<string>&apos;Zapf&apos; table structure and contents</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityInformation</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTest_ZapfTable</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test determines which languages a font can be used for.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.TrueType.languages</string>
		<key>kATSFontTestNameKey</key>
		<string>Languages covered</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityInformation</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestTrueTypeFontData</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUnexpectedValueTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes sure an &apos;NFNT&apos; font resource is usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.NFNT.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>NFNT usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestNFNTResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test makes the Type 1 PostScript data associated with a &apos;FOND&apos; font resource is usable.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.resource.FOND.Type1.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>Type 1 (PostScript) font usability</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityTechnicalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
			<string>kATSFontTestCoreTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test looks for installed fonts with the same name.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.duplicates</string>
		<key>kATSFontTestNameKey</key>
		<string>Duplicate fonts</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityMajorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestFONDResource</string>
			<string>kATSFontTestTrueTypeFontData</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestConsistencyTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test checks the usability of PostScript Type 1 fonts.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.Type1.usability</string>
		<key>kATSFontTestNameKey</key>
		<string>Type 1 structure</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
			<string>kATSFontTestSeverityMajorError</string>
			<string>kATSFontTestSeverityMinorError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestPostScriptFontData</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
			<string>kATSFontTestStructureTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kATSFontTestDescriptionKey</key>
		<string>This test checks the ability of the system to activate the font.</string>
		<key>kATSFontTestIdentifierKey</key>
		<string>com.apple.activation</string>
		<key>kATSFontTestNameKey</key>
		<string>Activation by system</string>
		<key>kATSFontTestSeverityKey</key>
		<array>
			<string>kATSFontTestSeverityFatalError</string>
		</array>
		<key>kATSFontTestTargetKey</key>
		<array>
			<string>kATSFontTestGeneralFontData</string>
		</array>
		<key>kATSFontTestTypeKey</key>
		<array>
			<string>kATSFontTestUsabilityTest</string>
		</array>
		<key>kATSFontTestVersionKey</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
