<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A178l</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JapaneseAnalysisPlugIn</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.JapaneseAnalysisEngine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JapaneseAnalysisPlugIn</string>
	<key>CFBundlePackageType</key>
	<string>lam+</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleSignature</key>
	<string>lam </string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>CDFC5040-10EA-11D4-9DFA-0030653D66C8</key>
		<string>MyPlugInFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>FCE56686-10EA-11D4-B4D9-0030653D66C8</key>
		<array>
			<string>CDFC5040-10EA-11D4-9DFA-0030653D66C8</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A273</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
	<key>MyCommonCooccurrenceName</key>
	<string>Cooccurrence.data</string>
	<key>MyCommonGrammarName</key>
	<string>Grammar.data</string>
	<key>MyEnvironmentFileName</key>
	<string>Environment.plist</string>
	<key>MyLearningDictName</key>
	<string>LearningDictionary.dict</string>
	<key>MyPreferenceFolderName</key>
	<string>com.apple.JapaneseAnalysis</string>
</dict>
</plist>
