<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyNames</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>($0A)</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>Return</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>Tab</string>
		<string>空白鍵</string>
		<string></string>
		<string>Delete</string>
		<string>($34)</string>
		<string>Esc</string>
		<string>Control</string>
		<string>Command</string>
		<string>Shift</string>
		<string>Caps Lock</string>
		<string>Option</string>
		<string>Control</string>
		<string>Shift</string>
		<string>Option</string>
		<string>Control</string>
		<string>($3F)</string>
		<string>F17</string>
		<string>.（數字鍵盤）</string>
		<string>($42)</string>
		<string>*（數字鍵盤）</string>
		<string>($44)</string>
		<string>+（數字鍵盤）</string>
		<string>($46)</string>
		<string>Clear</string>
		<string>($48)</string>
		<string>($49)</string>
		<string>($4A)</string>
		<string>/（數字鍵盤）</string>
		<string>Enter</string>
		<string>($4D)</string>
		<string>-（數字鍵盤）</string>
		<string>F18</string>
		<string>F19</string>
		<string>=（數字鍵盤）</string>
		<string>0（數字鍵盤）</string>
		<string>1（數字鍵盤）</string>
		<string>2（數字鍵盤）</string>
		<string>3（數字鍵盤）</string>
		<string>4（數字鍵盤）</string>
		<string>5（數字鍵盤）</string>
		<string>6（數字鍵盤）</string>
		<string>7（數字鍵盤）</string>
		<string>($5A)</string>
		<string>8（數字鍵盤）</string>
		<string>9（數字鍵盤）</string>
		<string>($5D)</string>
		<string>($5E)</string>
		<string>($5F)</string>
		<string>F5</string>
		<string>F6</string>
		<string>F7</string>
		<string>F3</string>
		<string>F8</string>
		<string>F9</string>
		<string>($66)</string>
		<string>F11</string>
		<string>($68)</string>
		<string>F13</string>
		<string>F16</string>
		<string>F14</string>
		<string>($6C)</string>
		<string>F10</string>
		<string>($6E)</string>
		<string>F12</string>
		<string>Record</string>
		<string>F15</string>
		<string>Help</string>
		<string>Home</string>
		<string>Page Up</string>
		<string>Del</string>
		<string>F4</string>
		<string>End</string>
		<string>F2</string>
		<string>Page Down</string>
		<string>F1</string>
		<string>向左鍵</string>
		<string>向右鍵</string>
		<string>向下鍵</string>
		<string>向上鍵</string>
		<string>Start</string>
	</array>
	<key>ModifierKeyNames</key>
	<array>
		<string>Command + </string>
		<string>Shift + </string>
		<string>Caps Lock + </string>
		<string>Option + </string>
		<string>Control + </string>
	</array>
	<key>ValidListenKeys</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
</dict>
</plist>
