<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JapaneseFastTokenizer</key>
	<dict>
		<key>AnalysisClass</key>
		<string>FAST</string>
		<key>AnalysisLevel</key>
		<integer>5</integer>
		<key>AnalysisMode</key>
		<integer>3</integer>
		<key>CharacterDictionary</key>
		<string>S+&apos;self&apos;:J_Character.dict</string>
		<key>CooccurrenceRule</key>
		<string>Cooccurrence.data</string>
		<key>DictionaryList</key>
		<array>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryWeight</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>EnvironmentVersion</key>
		<integer>6</integer>
		<key>GrammarRule</key>
		<string>Grammar.data</string>
		<key>LastResortDictionary</key>
		<string></string>
		<key>LearnTransliterate</key>
		<false/>
		<key>LearnWordBoundary</key>
		<false/>
		<key>LearnWordOrder</key>
		<false/>
		<key>LearningDictionary</key>
		<string></string>
		<key>NonConvertSpeechList</key>
		<array>
			<integer>14</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>37</integer>
		</array>
		<key>NumberRule</key>
		<string>GrammarNum.data</string>
		<key>UseLeadingEdge</key>
		<false/>
	</dict>
	<key>JapaneseMorphemeAnalysis</key>
	<dict>
		<key>AnalysisClass</key>
		<string>RKKC</string>
		<key>AnalysisLevel</key>
		<integer>5</integer>
		<key>AnalysisMode</key>
		<integer>3</integer>
		<key>CharacterDictionary</key>
		<string>S+&apos;self&apos;:J_Character.dict</string>
		<key>CooccurrenceRule</key>
		<string>Cooccurrence.data</string>
		<key>DictionaryList</key>
		<array>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryWeight</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Character.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Character.dict</string>
				<key>DictionaryWeight</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>EnvironmentVersion</key>
		<integer>6</integer>
		<key>GrammarRule</key>
		<string>Grammar.data</string>
		<key>LastResortDictionary</key>
		<string></string>
		<key>LearnTransliterate</key>
		<false/>
		<key>LearnWordBoundary</key>
		<false/>
		<key>LearnWordOrder</key>
		<false/>
		<key>LearningDictionary</key>
		<string></string>
		<key>NonConvertSpeechList</key>
		<array>
			<integer>14</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>37</integer>
		</array>
		<key>NumberRule</key>
		<string>GrammarNum.data</string>
		<key>UseLeadingEdge</key>
		<true/>
	</dict>
	<key>JapaneseTextToSpeech</key>
	<dict>
		<key>AnalysisClass</key>
		<string>JTTS</string>
		<key>AnalysisLevel</key>
		<integer>5</integer>
		<key>AnalysisMode</key>
		<integer>3</integer>
		<key>CharacterDictionary</key>
		<string>S+&apos;self&apos;:J_Character.dict</string>
		<key>CooccurrenceRule</key>
		<string>Cooccurrence.data</string>
		<key>DictionaryList</key>
		<array>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryWeight</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Character.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Character.dict</string>
				<key>DictionaryWeight</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>EnvironmentVersion</key>
		<integer>6</integer>
		<key>GrammarRule</key>
		<string>Grammar.data</string>
		<key>LastResortDictionary</key>
		<string></string>
		<key>LearnTransliterate</key>
		<false/>
		<key>LearnWordBoundary</key>
		<false/>
		<key>LearnWordOrder</key>
		<false/>
		<key>LearningDictionary</key>
		<string></string>
		<key>NonConvertSpeechList</key>
		<array>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>36</integer>
			<integer>37</integer>
		</array>
		<key>NumberRule</key>
		<string>GrammarNum.data</string>
		<key>UseLeadingEdge</key>
		<true/>
	</dict>
	<key>KanaKanjiConversion</key>
	<dict>
		<key>AnalysisClass</key>
		<string>KKC </string>
		<key>AnalysisLevel</key>
		<integer>5</integer>
		<key>AnalysisMode</key>
		<integer>3</integer>
		<key>CharacterDictionary</key>
		<string></string>
		<key>CooccurrenceRule</key>
		<string>Cooccurrence.data</string>
		<key>DictionaryList</key>
		<array>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_LastResort.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_LastResort.dict</string>
				<key>DictionaryWeight</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:OsakaDialect.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:OsakaDialect.dict</string>
				<key>DictionaryWeight</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Colloquial.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Colloquial.dict</string>
				<key>DictionaryWeight</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Basic_mini.dict</string>
				<key>DictionaryWeight</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>DictionaryFlag</key>
				<integer>1</integer>
				<key>DictionaryPath</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryPathUTF8</key>
				<string>S+&apos;self&apos;:J_Numeral.dict</string>
				<key>DictionaryWeight</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>EnvironmentVersion</key>
		<integer>6</integer>
		<key>GrammarRule</key>
		<string>Grammar.data</string>
		<key>LastResortDictionary</key>
		<string>S+&apos;self&apos;:J_LastResort.dict</string>
		<key>LearnTransliterate</key>
		<true/>
		<key>LearnWordBoundary</key>
		<true/>
		<key>LearnWordOrder</key>
		<true/>
		<key>LearningDictionary</key>
		<string>U+&apos;pref&apos;:com.apple.JapaneseAnalysis:AutoLearning.dict</string>
		<key>NonConvertSpeechList</key>
		<array>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>36</integer>
			<integer>37</integer>
		</array>
		<key>NumberRule</key>
		<string>GrammarNum.data</string>
		<key>UseLeadingEdge</key>
		<true/>
	</dict>
</dict>
</plist>
