<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>KeyNames</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>($0A)</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>Return</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>Tab</string>
		<string>Boşluk</string>
		<string></string>
		<string>Sil</string>
		<string>($34)</string>
		<string>Esc</string>
		<string>Kontrol</string>
		<string>Komut</string>
		<string>Shift</string>
		<string>Büyük Harf Kilidi</string>
		<string>Option</string>
		<string>Kontrol</string>
		<string>Shift</string>
		<string>Option</string>
		<string>Kontrol</string>
		<string>($3F)</string>
		<string>F17</string>
		<string>, (Tuş Takımı)</string>
		<string>($42)</string>
		<string>* (Tuş Takımı)</string>
		<string>($44)</string>
		<string>+ (Tuş Takımı)</string>
		<string>($46)</string>
		<string>Temizle</string>
		<string>($48)</string>
		<string>($49)</string>
		<string>($4A)</string>
		<string>/ (Tuş Takımı)</string>
		<string>Enter</string>
		<string>($4D)</string>
		<string>- (Tuş Takımı)</string>
		<string>F18</string>
		<string>F19</string>
		<string>= (Tuş Takımı)</string>
		<string>0 (Tuş Takımı)</string>
		<string>1 (Tuş Takımı)</string>
		<string>2 (Tuş Takımı)</string>
		<string>3 (Tuş Takımı)</string>
		<string>4 (Tuş Takımı)</string>
		<string>5 (Tuş Takımı)</string>
		<string>6 (Tuş Takımı)</string>
		<string>7 (Tuş Takımı)</string>
		<string>($5A)</string>
		<string>8 (Tuş Takımı)</string>
		<string>9 (Tuş Takımı)</string>
		<string>($5D)</string>
		<string>($5E)</string>
		<string>($5F)</string>
		<string>F5</string>
		<string>F6</string>
		<string>F7</string>
		<string>F3</string>
		<string>F8</string>
		<string>F9</string>
		<string>($66)</string>
		<string>F11</string>
		<string>($68)</string>
		<string>F13</string>
		<string>F16</string>
		<string>F14</string>
		<string>($6C)</string>
		<string>F10</string>
		<string>($6E)</string>
		<string>F12</string>
		<string>Kayıt</string>
		<string>F15</string>
		<string>Yardım</string>
		<string>Başa Git</string>
		<string>Sayfa Yukarı</string>
		<string>Del</string>
		<string>F4</string>
		<string>Sona Git</string>
		<string>F2</string>
		<string>Sayfa Aşağı</string>
		<string>F1</string>
		<string>Sol Ok</string>
		<string>Sağ Ok</string>
		<string>Aşağı Ok</string>
		<string>Yukarı Ok</string>
		<string>Başlat</string>
	</array>
	<key>ModifierKeyNames</key>
	<array>
		<string>Komut+</string>
		<string>Shift+</string>
		<string>Büyük Harf Kilidi+</string>
		<string>Option+</string>
		<string>Kontrol+</string>
	</array>
	<key>ValidListenKeys</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
</dict>
</plist>
