<?xml version="1.0" encoding="UTF-8"?>
<!--
	File:			FontValidationAlwaysRunTest.plist
 
	Contains:		Data for all the test which is always run
 
	Version:		Mac OS X
 
	Written by:		The Apple Font Group
 
	Copyright:		© 2006-2012 by Apple Inc. All rights reserved.
 
	File Ownership:
 
		DRI:				John Jenkins
 
		Other Contact:		Julio Gonzales
 
		Technology:			Apple Font Tools
 
	$Log: FontValidationAlwaysRunTest.plist,v $
	Revision 1.2  2007/01/15 23:27:58  kurita
	<rdar://problem/4916090> updated copyright.

	Revision 1.1  2006/11/11 16:58:36  jenkins
	Moved files no longer to be localized.
	
-->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kATSFontTestDescriptionKey</key>
	<string>This test checks for basic parsability; failure means we can't even successfully parse the supplied data as a font.</string>
	<key>kATSFontTestIdentifierKey</key>
	<string>com.apple.generalFont</string>
	<key>kATSFontTestNameKey</key>
	<string>Font basic parsability</string>
	<key>kATSFontTestSeverityKey</key>
	<array>
		<string>kATSFontTestSeverityFatalError</string>
	</array>
	<key>kATSFontTestTargetKey</key>
	<array>
		<string>kATSFontTestGeneralFontData</string>
	</array>
	<key>kATSFontTestTypeKey</key>
	<array>
		<string>kATSFontTestUsabilityTest</string>
		<string>kATSFontTestStructureTest</string>
		<string>kATSFontTestSpecificationTest</string>
		<string>kATSFontTestUnexpectedValueTest</string>
	</array>
	<key>kATSFontTestVersionKey</key>
	<integer>1</integer>
</dict>
</plist>
