<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6629048</key>
	<array>
		<string>826C82722096BE92A9</string>
		<string>Apple Garamond BT</string>
		<string>Athens</string>
		<string>B773B2D3A9FAC5E9</string>
		<string>B9D9C5C1</string>
		<string>Beijing</string>
		<string>Bell Gothic Std</string>
		<string>Bickham Script Pro</string>
		<string>Bodoni SvtyTwo ITC TT</string>
		<string>Bodoni SvtyTwo OS ITC TT</string>
		<string>CBCECCE5</string>
		<string>Cairo</string>
		<string>Chicago</string>
		<string>Cooper Std</string>
		<string>Garamond Premier Pro</string>
		<string>Heiti J</string>
		<string>Heiti K</string>
		<string>Heiti SC</string>
		<string>Heiti TC</string>
		<string>Hiragino Kaku Gothic Pro</string>
		<string>Hiragino Kaku Gothic ProN</string>
		<string>Hiragino Mincho Pro</string>
		<string>Hiragino Mincho ProN</string>
		<string>Hiragino Sans CNS</string>
		<string>Hiragino Sans GB</string>
		<string>Kozuka Gothic Pro</string>
		<string>Kozuka Mincho Pro</string>
		<string>Lithos Pro</string>
		<string>London</string>
		<string>Los Angeles</string>
		<string>LucidMatExt</string>
		<string>LucidMatIta</string>
		<string>LucidMatSym</string>
		<string>Lucida Bright Math Extension</string>
		<string>Lucida Bright Math Italic</string>
		<string>Lucida Bright Math Symbol</string>
		<string>MS Linedraw</string>
		<string>MT Extra</string>
		<string>Meiryo</string>
		<string>Menlo</string>
		<string>Minion Ornaments</string>
		<string>Monotype Sorts</string>
		<string>New York</string>
		<string>Nueva Std</string>
		<string>Osaka___</string>
		<string>STHeiti</string>
		<string>San Francisco</string>
		<string>Seoul</string>
		<string>Stone Sans Sem ITC TT</string>
		<string>Taipei</string>
		<string>Tekton Pro</string>
		<string>Toronto</string>
		<string>Venice</string>
		<string>Wingdings 2</string>
		<string>Wingdings 3</string>
		<string>Wingdings</string>
	</array>
</dict>
</plist>
