<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.J_Basic_mini.dict</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>J_Basic_mini.dict</string>
	<key>CFBundlePackageType</key>
	<string>dict</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>lam </string>
	<key>DCMAccessMethodName</key>
	<string>DAM:Apple Backward Trie Access Method</string>
	<key>MyDictionaryFile1</key>
	<string>dictionary_1</string>
	<key>MyDictionaryFile2</key>
	<string>dictionary_2</string>
</dict>
</plist>
